.detailed-container {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.detailed-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    min-width: 700px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);

}

.detailed-photo {
    /*grid-area: photo;*/
    grid-column: 1;
    width: 300px;
}

.detailed-comments {
    /*grid-area: comments;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px 15px;
}

.detailed-comments-date {
   color: #999999;
    font-size: 0.8em;
}

.detailed-comments-text {
    margin-bottom: 20px;
}

.detailed-new-comment-form {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 25px 0px;
}

.detailed-new-comment-form * {
    margin: 10px 0px;
}

.detailed-new-comment-form button {
    background: #4997D0;
}

.detailed-close-button {
    position: absolute;
    top:30px;
    right: 30px;
    font-size: 2em;
    /*width: 45px;*/
    /*height: 45px;*/
}